@{
    ViewData["Title"] = "The Fitness Journey Creator";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Fitness Journey Creator</h1>
    <p>Take your fitness to the next level</p>
</div>
