@{
    ViewData["Title"] = "The Fitness Journey Creator";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Fitness Journey Creator</h1>
    <p>Taking your fitness to the next level one step at a time</p>
    <div>
        <p>We provide a stable and secure platform that allows anyone to create a workout plan and track there results.</p>
        <a class="btn btn-primary" asp-controller="WorkoutPlans" asp-action="Index">Start Building!</a>
    </div>
</div>
